<!DOCTYPE html>
<html lang="en">

<head>
  <title>My homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="google-site-verification" content="KvVxXByPP0Tz-5skxekv33woWMLTlsRyeqvP9Wlyy2c" />
</head>

<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/animate.min.css">
  <script src="javascripts/dist/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="javascripts/dist/popper.min.js" crossorigin="anonymous"></script>
  <script src="javascripts/dist/bootstrap.min.js" crossorigin="anonymous"></script>
  <div id="back" class="background"></div>
  <div class="flip-card animated slideInDown slow" id="main-card">
    <div class="flip-card-inner" id="flip-card">
      <div class=" flip-card-front card card-profile text-center" id="flip-card-front">
        <img class="card-img-top" src="images/blockchain_small.jpeg"/>
        <div class="card-block">
          <img class="card-img-profile" src="images/kevin_2.jpg?size=80" id="img-top"/>
          <h4 class="card-title">
            Kevin Decoster <a class="fa fa-envelope" href="mailto:kevin@decoster.io"></a>
            <p></p>
            <small>DevOps & Blockchain Analyst at </small>
            <small> <a href="https://atonra.ch">Atonra Partners SA</a></small>
            <p></p>
            <a class="btn btn-primary flip-btn" id="read_more">My services</h5></a>
          </h4>
          <div class="card-links">
            <a class="fa fa-linkedin" href="https://www.linkedin.com/in/kevin-decoster" target="_blank"></a>
            <a class="fa fa-gitlab" href="https://gitlab.com/decosterkevin" target="_blank"></a>
            <a class="fa arrow fa-arrow-up" id="arrow-slide"></a>
            <a class="fa fa-github" href="https://github.com/decosterkevin" target="_blank"></a>
            <a class="fa fa-medium" href="https://medium.com/@decoster.kevin" target="_blank"></a>
            <!-- <a class="fa fa-envelope" href="mailto:kevin@decoster.io"></a> -->
          </div>

        </div>
      </div>

      <div class="flip-card-back card text-center" id="flip-card-back">
        <div class="card-body">
            <button type="button" class="close" id="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          <h5 class="card-title">My services</h5>
          <p class="card-text">Here is my self hosted services or project (In construction):</p>
          <ul>
            <li><a href="https://transfer.decoster.io" target="_blank">File Transfer</a></li>
            <li><a href="https://owncloud.decoster.io" target="_blank">File Sharing (aka Dropbox)</a></li>
            <li><a href="https://github.com/decosterkevin/website_scraper" target="_blank">Monitoring tool (Backend only)</a></li>
            <li><a href="https://keepup.decoster.io/journey/?id=DmzyV1" target="_blank">Follow my journey (outdated)</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>


  <script src="javascripts/three.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <script src="javascripts/WebGL.js"></script>
  <script src="javascripts/stats.min.js"></script>

  <script type="x-shader/x-vertex" id="vertexshader">

			attribute float scale;
      varying vec3 vColor;
			void main() {
        vColor = color;
				vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

				gl_PointSize = scale * ( 500.0 / - mvPosition.z );

				gl_Position = projectionMatrix * mvPosition;

			}

		</script>

  <script type="x-shader/x-fragment" id="fragmentshader">

			varying vec3 vColor;

			void main() {

				if ( length( gl_PointCoord - vec2( 0.5, 0.5 ) ) > 0.475 ) discard;

				gl_FragColor = vec4( vColor, 1.0 );

			}

		</script>
  <script>
    window.onload = function() {
    document.getElementById("read_more").onclick = function () {
      document.getElementById("flip-card").style.transform= "rotateY(180deg)";
    }
    document.getElementById("arrow-slide").onclick = function () {
      var arrow = document.getElementById("arrow-slide")
      var classes = arrow.className.split(" ")
      if (classes.indexOf("fa-arrow-up") > -1) {
        console.log("Top is there, so sliding up")
        arrow.classList.remove('fa-arrow-up')
        arrow.classList.add('fa-arrow-down')
        document.getElementById("flip-card").style.transform= "translateY(-500px)";
      }
      else {
        console.log("Down is there, so sliding down")
        arrow.classList.remove('fa-arrow-down')
        arrow.classList.add('fa-arrow-up')
        document.getElementById("flip-card").style.transform= "translateY(0px)";
      }
      
    }
    document.getElementById("close").onclick = function () {
      console.log("sdkjb")
      document.getElementById("flip-card").style.transform= "rotateY(0deg)";
    }
  }
  </script>
  <script src="javascripts/waves.js" type="text/javascript"></script>

</body>

</html>