body {
  background-color: #000;
  margin: 0px;
  overflow: hidden;
  font-family:Monospace;
  font-size:13px;
  text-align:center;
  font-weight: bold;
  text-align:center;
}

a {
  color:#0078ff;
}

.background {
	position: absolute;
    width: 100%;
    height: 95%;
    z-index: -1;
}

#info {
  color:#fff;
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px;
}

.card-profile {
  width: 100%;
  height: 100%;
  background-color: #e6e5e1;
  border-radius: 20;
  border: 0;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, .2);
}
.card-profile .card-img-top {
  border-radius: 20;
}
.card-profile .card-img-profile {
  max-width: 50%;
  border-radius: 50%;
  margin-top: -180px;
  margin-bottom: 10px;
  border: 5px solid #e6e5e1;
}
.card-links {
  position: absolute;
  top: 410px;
  width: 100%;
  background: transparent;
}

.card-profile .card-title small {
  display: block;
  font-size: 0.6em;
  margin-top: 0.2em;
}
/* .card-profile .card-links {
   margin-bottom: 25px; 
} */
.card-profile .card-links .fa {
  margin: 0 0.5em;
  font-size: 2.0em;
}
.card-profile .card-links .fa:focus, .card-profile .card-links .fa:hover {
  text-decoration: none;
}
/* .card-profile .card-links .fa.fa-dribbble {
  color: #ea4b89;
  font-weight: bold;
}
.card-profile .card-links .fa.fa-dribbble:hover {
  color: #e51d6b;
}
.card-profile .card-links .fa.fa-twitter {
  color: #68aade;
}
.card-profile .card-links .fa.fa-twitter:hover {
  color: #3e92d5;
}
.card-profile .card-links .fa.fa-facebook {
  color: #3b5999;
}
.card-profile .card-links .fa.fa-facebook:hover {
  color: #2d4474;
} */
.card-profile .card-links .fa.fa-linkedin {
  color: #0077B5;
}
.card-profile .card-links .fa.fa-linkedin:hover {
  color: #2d4474;
}
.card-profile .card-links .fa.fa-github {
  color: #6e5494;
}
.card-profile .card-links .fa.fa-github:hover {
  color: #483663;
}
.card-profile .card-links .fa.fa-gitlab {
  color: #fca326;
}
.card-profile .card-links .fa.fa-gitlab:hover {
  color: #8f5d16;
}
.card-profile .card-links .fa.fa-medium{
  color: #00ab6c;
}
.card-profile .card-links .fa.fa-medium:hover {
  color: #006640;
}
.card-profile .card-links .fa.fa-envelope{
  color: #cb1919;
}
.card-profile .card-links .fa.fa-envelope:hover {
  color: #8f1515;
}


.card-profile .card-links .fa.arrow{
  color: #e6e5e1;
}
.card-profile .card-links .fa.arrow:hover {
  color: #c5c4c1;
}

.flip-card {
  width: 340px;
  height: 400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 0px auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 100%;
  
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
}

/* Style the back side */
.flip-card-back {
  background-color: #e6e5e1;
  transform: rotateY(180deg);
}